/*
* 
* @author Ivanoel Rodrigo
* @version 0.1
*/

/* ========================= layout ======================== */
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@import url("https://fonts.googleapis.com/css?family=Leckerli+One&display=swap");
@media only screen and (max-device-width: 720px) {
  /* .menu { width:100%; } */
}
html,
body {
  font-family: "Leckerli One", cursive;
  cursor: url("images/logo-icon/icon-pincel.cur"), default;
}
/* -- Preloader -- */
.preloader6 {
  color: #ffffff;
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0px;
  opacity: 0.5;
  background: #000000;
  -webkit-animation: preloader6 1.5s ease-in-out infinite alternate;
  animation: preloader6 1.5s ease-in-out infinite alternate;
}
@keyframes preloader6 {
  from {
    transform: rotate(0deg) scale(1, 1);
    border-radius: 0px;
  }
  to {
    transform: rotate(720deg) scale(0.5, 0.5);
    border-radius: 25px;
  }
}
@-webkit-keyframes preloader6 {
  from {
    -webkit-transform: rotate(0deg) scale(1, 1);
    border-radius: 0px;
  }
  to {
    -webkit-transform: rotate(720deg) scale(0.5, 0.5);
    border-radius: 25px;
  }
}
/* -- Barra de navegação -- */
.img-logo {
  width: 100px;
  height: 100px;
  left: -10px;
  top: -8px;
  display: block;
  background: url("images/logo-icon/logo.png") no-repeat;
  background-size: contain;
  color: transparent;
  position: relative;
}
.img-logo:hover {
  margin-top: -5px;
  transition: ease-in 0.2s;
}
#center {
  background: #f9f9f9;
  background: #46cb49;
  width: 100%;
  padding: 1em;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  border: 1px solid #bbb;
}
#nuvem-slide-missao {
  position: relative;
  top: -70px;
}
#nuvem-slide-visao {
  position: relative;
  width: 400px;
  top: -70px;
}
#nuvem-slide-valores {
  position: relative;
  width: 400px;
  top: -70px;
}
.background-fundo {
  width: 100%;
  background: rgb(252, 249, 249);
}
nav.navbar-transparente {
  padding: 9px 0px;
  background: #87ceeb;
  border: none;
}
a {
  font-size: 16px;
}
#btn-custom {
  background-color: transparent;
}
#btn-custom2 {
  background: #7ed9ec;
  border-radius: 18px;
}
ul#btn-custom2.dropdown-menu li a {
  background: transparent;
}
ul#btn-custom2.dropdown-menu li a:hover {
  color: white;
}
.navbar-brand {
  padding: 5px 15px;
}

.navbar-inverse .navbar-nav > li > a,
footer .nav a {
  color: white;
  transition: color 1s;
}

.navbar-inverse .navbar-nav > li > a:hover,
footer .nav a:hover {
  color: #8c089b;
  background: none;
}

.nav li ul {
  display: none;
}

.nav li:hover ul {
  display: block;
}
.nav li li a:before {
  content: "\272A";
  padding-right: 5px;
}

/*-- Slide de Imagens --*/
.carousel-control.right,
.carousel-control.left {
  background-image: none;
  color: #428bca;
}

.carousel-indicators li {
  border-color: black;
}

.carousel-indicators li.active {
  background-color: #428bca;
}

.item h3 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

/*-- jQuery lightBox plugin - Gallery style */

#gallery-fotos {
  padding: 10px;
  margin-left: 5%;
  letter-spacing: -2px;
}
#gallery-fotos ul {
  list-style: none;
}

#gallery-fotos ul img {
  border-width: 5px 5px 5px;
}
#gallery-fotos ul a:hover img {
  border: 1px solid #fff;
  border-width: 1px 1px 1px;
  color: #fff;
}
#gallery-fotos ul a:hover {
  color: #fff;
}
#gallery {
  padding: 10px;
  width: auto;
}
#gallery ul {
  list-style: none;
}
#gallery ul li {
  display: inline;
}
#gallery ul img {
  border-width: 5px 5px 5px;
}
#gallery ul a:hover img {
  border: 2px solid #fff;
  border-width: 2px 2px 2px;
  color: #fff;
}
#gallery ul a:hover {
  color: #fff;
}
/* -- Botoes -- */
.btn-custom {
  color: white;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  padding: 10px 35px;
  margin: 0px 15px;
  text-transform: uppercase;
  transition: background 0.4s, color 0.4s;
}

.btn-roxo {
  background: #7c25f8;
}
.btn-roxo:hover {
  background-color: #6207e3;
  color: white;
}

.btn-branco {
  border: 2px solid white;
}
.btn-branco:hover {
  background-color: white;
  color: black;
}
/* ========================= Tipografia ======================== */
#bem-vindo {
  background: #fff;
}

h2#intro {
  position: relative;
  top: -50px;
}
#intro {
  font-size: 30px;
  border-radius: 15px;
  background: #428bca;
  box-shadow: inset 0 1px 0 0 #4d73bf;
  text-shadow: 0 1px 0 #3359a5;
  color: #fff;
  padding: 10px;
  text-align: center;
}
#intro:hover {
  background: rgb(85, 50, 211);
}
#intro-frase {
  font-family: "Titillium Web", sans-serif;
  position: relative;
  top: -50px;
}
#intro-parag {
  font-family: "Titillium Web", sans-serif;
  position: relative;
  top: -50px;
}

#valor {
  font-size: 30px;
  color: #fff;
}
#valor-dif {
  font-size: 26px;
  color: #fff;
}
#diferenca {
  font-size: 30px;
  color: #fff;
}
#dc-eve {
  font-size: 36px;
  color: #fff;
}
#cnc {
  background-color: #2abbb6;
}

#center-depoimento {
  background: #46dc35;
}
#depoimento {
  background: #958abc;
}
#dpt {
  font-family: "Leckerli One", cursive;
  font-size: 30px;
  color: #fff;
}

h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  letter-spacing: -0.05em;
  margin-bottom: 50px;
}
.h1,
h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 36px;
}

h2 {
  font-family: "Leckerli One", cursive;
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}
h4 {
  font-family: "Leckerli One", cursive;
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

/* ========== Cardapio ===========*/
.tabela-cor {
  margin-left: auto;
  margin-right: auto;
  background: #7fffd4;
  border-radius: 20px;
  padding: 20px;
}
.tabela-cor-2 {
  margin-left: auto;
  margin-right: auto;
  background: #7fffd4;
  border-radius: 20px;
  padding: 10px;
}
#tabela {
  width: 100%;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
}

#tabela td {
  padding: 5px;
  text-align: justify;
  padding-top: 20px;
}

caption {
  text-align: center;
  font-size: 26px;
  color: #fff;
}
.cap {
  font-size: 12pt;
  color: black;
}
#tabela th.semana {
  text-align: center;
  padding-bottom: 5px;
  color: black;
  background: #7fffd4;
  font-weight: bold;
}
#tabela td.semana {
  text-align: center;
  padding-bottom: 20px;
  color: black;
  background: #7fffd4;
  font-weight: bold;
}
#tabela td.refeicao {
  color: #fff;
  background: #877878;
  border-radius: 10px;
}

#tabela caption span {
  display: block;
  float: right;
  color: #fff;
  font-size: 8pt;
  margin-top: 20px;
}
.card-img-top {
  width: 350px;
  height: 350px;
  border: 1px solid white;
  left: 130px;
  position: relative;
}
/*========= Maternal ==========*/
.card {
  margin: auto;
  border: 1px solid #606060;
}
.card:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
}
/* ================ Serviços ================*/

.container-fluid {
  padding: 30px 30px;
}

.bg-grey {
  background-color: #f6f6f6;
}

.logo-small {
  color: #f4511e;
  font-size: 50px;
}

.logo {
  color: #428bca;
  font-size: 200px;
}

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

/* ====== Painel de Depoimento ========*/
.panel {
  border: 1px solid #f4511e;
  border-radius: 0 !important;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
}
.panel-footer .btn:hover {
  border: 1px solid #f4511e;
  background-color: #fff !important;
  color: #f4511e;
}
.panel-heading {
  color: #fff !important;
  background-color: #f05f33 !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-footer {
  background-color: white !important;
}
.panel-footer h3 {
  font-size: 32px;
  font-family: "Titillium Web", sans-serif;
}
.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}
.panel-footer .btn {
  margin: 15px 0;
  background-color: #f4511e;
  color: #fff;
}
/* === Rodapé ===*/
.img-footer {
  background: #b0c4de;
}
footer.container-fluid {
  padding: 10px;
}
#footer-midia {
  font-size: 16px;
  color: #555555;
  font-family: "Leckerli One", cursive;
}
#footer-info-frase {
  font-size: 20px;
  color: #555555;
  font-family: "Leckerli One", cursive;
}
#footer-end {
  font-size: 18px;
  color: #555555;
  font-family: "Leckerli One", cursive;
}
#footer-direitos-frase {
  position: relative;
  font-size: 16px;
  color: #555555;
  font-family: "Leckerli One", cursive;
  text-align: center;
  top: -10px;
}
#criador {
  color: #555555;
  text-decoration: none;
}
#criador:hover {
  color: red;
}
#logo-rodape {
  position: relative;
  float: left;
  top: -15px;
  margin-left: 20px;
}
#footer-logo-frase {
  font-size: 16px;
  color: #555555;
  font-family: "Leckerli One", cursive;
}
#parceiros-rodape {
  font-size: 20px;
  float: right;
  top: -15px;
  position: relative;
  margin-right: 60px;
  color: #555;
}
/*--- conteúdo dos Sites  ---*/

#panel-box {
  background-color: #0474ac;
  border-radius: 10px;
  padding: 10px;
}
#box {
  background-color: #0474ac;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}
#box2 {
  background-color: #7ed9ec;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}

#box3 {
  background-color: #359b08;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}

.box-item:nth-child(1) {
  background: #7fffd4;
}
.box-item {
  border-radius: 15px;
  padding: 20px;
  color: black;
  margin-bottom: 30px;
  width: 100%;
}

.box-item-cardapio {
  background-color: #7fffd4;
  border-radius: 15px;
  padding: 20px;
  color: black;
  margin-bottom: 30px;
  clear: both;
  width: 90%;
  height: auto;
}
.box {
  position: relative;
  box-sizing: border-box;
}
.grid {
  padding-top: 100px;
  padding-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure.foto-legenda {
  position: relative;
}

figure.foto-legenda img {
  width: 100%;
  height: 100%;
}

figure.foto-legenda figcaption {
  position: absolute;
  padding-left: 50px;
  box-sizing: border-box;
}
.tam-cor {
  display: block;
  position: relative;
  left: -18px;
  font-size: 30px;
  border-radius: 10px;
  color: #0474ac;
  background: lightblue;
  padding: 10px 20px;
}
.tam-cor:hover {
  background: rgb(128, 198, 221);
  color: rgb(3, 61, 90);
}
/* === Maternal ==*/
#maternal {
  padding: 15px;
  position: relative;
  width: 35%;
  background-color: #7fffd4;
  text-align: center;
  color: #069;
  border-radius: 15px;
  margin-left: 185px;
}
#maternal-rodape {
  width: 320px;
  padding: 5px;
  background: #7fffd4;
  color: black;
  border-radius: 10px;
  position: relative;
  margin-top: 20px;
  margin-left: 130px;
  text-align: justify;
}
#maternal-img {
  width: 320px;
  height: 240px;
}
#calendario-img {
  background: white;
}
#topo-pincel {
  position: relative;
  float: center;
  width: 15px;
  height: auto;
}
#img-espaco-infatil {
  width: 110%;
  height: 110%;
  position: relative;
  float: center;
  top: 10px;
}
/* ===== parallax ===*/

#parallax {
  width: 100%;
  height: 400px;
  background: url(images/background/capa.jpg) repeat fixed;
  background-size: cover;
  padding-top: 135px;
}
#parallax .frase {
  border-radius: 10px;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-size: 30px;
  background-color: rgba(4, 116, 172, 0.5);
  display: table;
  margin: 0 auto;
  padding: 20px 30px;
}
#parallax-frase {
  width: 100%;
  height: 300px;
  background-color: rgba(4, 116, 172, 0.5);
  background-size: cover;
  padding-top: 65px;
}
#imaginar-parallax-frase {
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  background-color: rgba(4, 116, 172, 0.5);
  margin: 0 auto;
  display: table;
  padding: 10px;
}
#frase {
  position: relative;
  text-align: center;
  font-family: "Leckerli One", cursive;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 40px;
  color: white;
}
/*===Calendario Escolar===*/

* {
  margin: 0;
  padding: 0;
}
body {
  background: #ebebeb;
}
.calendario {
  margin: auto;
  width: 100%;
  background: #fff;
  font-size: 15px;
  text-align: center;
  position: relative;
}
.calendario table {
  width: 100%;
}
.calendario .mes {
  display: none;
}
.calendario td.evento {
  background: #32cd32;
}
.calendario td a {
  color: black;
  text-decoration: none;
  display: block;
}
.calendario td {
  /*border: 1px solid #069;*/
  padding: 10px;
  color: #666;
  border: 0.5px solid #00ff7f;
}
.calendario td.atual {
  background: #1e90ff;
  color: white;
}

.calendario .mes_title {
  font-size: 20px;
  color: #fff;
}
.calendario .mes_title td {
  background: #069;
  padding: 5px;
  color: white;
}
.calendario #volta,
.calendario #frente {
  padding: 7px 8px;
  font-size: 16px;
  text-decoration: none;
  background: linear-gradient(to bottom, #fff, #ccc 130%);
  margin: 3px;
  position: absolute;
  color: #00ff7f;
}
.calendario #volta:hover,
.calendario #frente:hover {
  background: linear-gradient(to bottom, #ccc, #fff 130%);
}
.calendario #volta {
  left: -1px;
  top: -1px;
}
.calendario #frente {
  right: -1px;
  top: -1px;
}
.aliceblue,
.limegreen,
.red {
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 30%;
}
.aliceblue {
  background: #1e90ff;
}
.limegreen {
  background: #32cd32;
}
.red {
  background: red;
}
.calendario .legends {
  float: left;
  width: 100%;
  margin-top: 10px;
  text-align: left;
}

.calendario .legends .legenda {
  float: left;
  width: 30%;
  color: #fff;
}
/*** Slide ***/

button.slick-prev {
  font-size: 0px;
  border: none;
  width: 25px;
  height: 50px;
  z-index: 9;
  background-color: transparent;
  position: absolute;
  background-image: url("images/logo-icon/anterior.png");
  top: 200px;
  left: 30px;
}
button.slick-next {
  font-size: 0px;
  border: none;
  width: 25px;
  height: 50px;
  z-index: 9;
  background-color: transparent;
  position: absolute;
  background-image: url("images/logo-icon/proximo.png");
  top: 200px;
  right: 70px;
}
.slide-fotos {
  width: 100% !important;
}
.cardapio-titulo {
  position: relative;
  top: 10px;
}
.cardapio-cabecalho {
  position: relative;
  top: 30px;
  display: block;
  background: url("images/cardapio/fruta.png") repeat;
  color: transparent;
  padding: 15px;
}
.cardapio-rodape {
  display: block;
  background: url("images/cardapio/fruts.png") repeat;
  color: transparent;
  padding: 15px;
}
